
.jumbotron { 
    border: 10px solid black;
    background-color: azure;
    

}
img {
    background-image: cover;
}
#form {
    display: flex;
    flex-flow: column;
    width: fit-content;

}

body {
    background-color: midnightblue;
}
main {
    display: flex;
    /* flex-flow: column wrap; */
    justify-content: center;
    align-items: center;
}
.card {
    padding: 10px;
    border: 10px solid black;
    /* margin: 100px; */
}

#introBox {
    position: relative;
}

#selectionBox {
    position: absolute;
    visibility: hidden;
    margin-top: 300px;
}

#ageReq {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
     align-items: center;
    justify-content: space-around;  
     margin: 10px;

}

/* #ageBttn {
    display: ;
} */
